* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: rgb(241, 10, 80);
  color: white;
  padding: 40px 20px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.imagen {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: #eee;
}

.boton {
  display: inline-block;
  margin-top: 10px;
  background-color: #6a7cdf;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.Educacionsecion {
  width: 1270px;
  margin: auto;
  margin-top: 20px;
}

.educacioncontenedor {
  display: flex;
  gap: 30px;
  width: 1270px;
  margin: auto;
  margin-top: 20px;


}

.educacioncenter {
  background-color: #6096d4;
  padding: 15px;
  border-radius: 8px;
  width: 1270px;

}

.descripcion {
  color: #080101;
  font-size: 17px;
  font-family: cursive;
  max-height: 200;
  overflow: hidden;

}

.Experiencia {
  margin: auto;
  width: 1270px
  
}


.cuboA {
  display: flex;
  gap: 30px;
  width: 1270px;
  margin: auto;
  height: 250px;
  margin-top: 20px;

}

.cubo {
  width: 295px;
  height: 250px;
  background-color: #6096d4;
  padding: 20px;
  border-top: 10px solid #09022e;
  border-radius: 5px
}

h3 {
  color: #080101;
  font-size: 20px;
  font-family: cursive;

}

.cubo p {
  max-height: 200;
  overflow: hidden;
  color: #080101;

}
.pagina {
  display: flex;
  padding: 40px;
  width: 200px;
}

.footer-social {
  display: flex;
  gap: 40px;
  padding: 20px 40px;
  background-color: #f00c0c;
  border-radius: 10px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #080505;
}

.icon {
  width: 24px;
  height: 24px;
}
